.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}

.embla__viewport {
  overflow: hidden;
  max-width: 62rem;
  margin-bottom: 50px;
  /* border: 1px solid red; */
}



.embla__container {
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  padding: 0 var(--slide-spacing);
  min-height: 200px;
}

@media (min-width: 750px) {
  .embla__container {
    gap: var(--slide-spacing-sm);
    padding: 0 var(--slide-spacing-sm);
  }
}

.embla__slide {
  margin-right: 20px;
  margin-left: 10px;
  flex: 0 0 var(--slide-size); 
  padding-left: var(--slide-spacing);
}

@media (min-width: 1200px) {
  .embla__container {
    gap: var(--slide-spacing-lg);
    padding: 0 var(--slide-spacing-lg);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }

  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }

}

.icon-size {
  font-size: 50px; 
}

.icon2-size {
  font-size: 60px; 
}